In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# loading training set of data
df = pd.read_csv('adult.data')


# name of the columns
col_labels = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status','occupation','relationship', 'race', 'sex', 
              'capital_gain', 'capital_loss', 'hours_per_week',
              'native_country', 'wage_class']

#setting the columns name of the dataframe
df.columns = col_labels

In [5]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,wage_class
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [6]:
#creating label encoder class and making object le
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [7]:
# converting catergorical to numeric
df['workclass']=le.fit_transform(df.workclass.values)
df['education']=le.fit_transform(df.education.values)
df['marital_status']=le.fit_transform(df.marital_status.values)
df['occupation']=le.fit_transform(df.occupation.values)
df['relationship']=le.fit_transform(df.relationship.values)

In [8]:
df['sex']=le.fit_transform(df.sex.values)
df['native_country']=le.fit_transform(df.native_country.values)
df['wage_class']=df.wage_class.map({' <=50K':0, ' >50K':1})

In [9]:
df['race']=le.fit_transform(df.race.values)

In [11]:
X=df.drop(['wage_class'],axis=1)
y=df.wage_class

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3,random_state=10)

In [15]:
params = {
    'objective':'binary:logistic',
    'max_depth':2,
    'silent':1,
    'eta':1
}

num_rounds = 5

In [16]:
from xgboost import XGBClassifier

In [17]:
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [18]:
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

In [20]:
from sklearn.metrics import accuracy_score

In [21]:
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 86.52%